In [1]:
#librerias
import pandas as pd
import numpy as np
from datetime import datetime

#ignoramos warnings
import warnings
warnings.filterwarnings('ignore')

#librerias importadas
print("importación completa")

importación completa

In [2]:
hoja = pd.read_csv('./Examen Data Analyst - Sheet1.csv')
print("CSV Leido")

CSV Leido

# Análisis Exploratorio de los Datos

La función que se presenta en la siguiente celda (descripción) contiene las operaciones mas comúnes que se hacen en el análisis exploratorio de los datos (EDA), operaciones descritas a continuación:

-Head: Muestra los 5 primeros elementos del dataframe, puede usarse también la operación tail.

-Shape: Nos dice el número de filas y columnas del dataframe.

-Columns: Nos dice cuales son los nombres de las columnas del dataframe

-Dtypes: Marca los tios de dato de cada columna, entre estos podemos encontrar que sean object (o cadena), int y float

-Nulos por columna: Si una columna tiene elementos nulos o NAN, esta función nos dirá cuantos son esos faltantes y en que columna

-Porcentaje de nulos por columna: Al tener datos nulos, tenemos que ver que porcentaje de estos fectan a mi dataset, esto nos puede dar un indicio sobre lo que se hará con los datos faltantes, de entre las opciones que se pueden tomar en cuenta son eliminar la columna, eliminar las filas del dataframe, llenar con ceros, con promedio, etc.

-Elementos unicos por columna: Esta funcion se utiliza para ver que tan variables son los datos que componen la columna. También imprime en pantalla la cantidad de datos únicos.

-Describe: Me imprime valores estadisiticos descriptivos de todos las columnas

In [3]:
#Funcion para poder leer caracteristicas del CSV
def descripcion(dataframe):
    print('HEAD')
    print(dataframe.head())
    print(' ')
    print('SHAPE')
    figura = dataframe.shape
    print(figura)
    print(' ')
    print('COLUMNAS')
    columnas = dataframe.columns
    print(columnas)
    print(' ')
    print('DATA TYPE POR COLUMNA ')
    print(dataframe.dtypes)
    print(' ')
    print('CONTEO DE NULOS POR COLUMNA')
    nulos = dataframe.isna().sum()
    print(nulos)
    print(' ')
    print('PORCENTAJE DE NULOS')
    for numero in range(len(nulos)):
        print(columnas[numero], ' ', (nulos[numero]/figura[0])*100)
    print(' ')
    print('ELEMENTOS UNICOS DE COLUMNAS')
    for columna in columnas:
        print('Columna: ',  columna)
        print('Datos unicos: ', len(dataframe[columna].unique()))
        print(dataframe[columna].unique(), '\n')
    print(' ')
    print('ESTADISTICA DESCRIPTIVA DE LOS DATOS DEL DATAFRAME')
    describe = dataframe.describe()
    print(describe.T)

Descripcion de los campos del data set (Proporcionados por la empresa)

name- id de orden de compra•

financial_status- estatus del pago de la compra•

fulfillment_status- estatus de la orden por producto•

total- cantidad total de la orden•

created_at- fecha en la que la que se creó la orden•

lineitem_quantity- cantidad de productos comprados•

lineitem_name- nombre del producto adquirido•

lineitem_price- precio del producto adquirido•

cancelled_at- fecha en la que se canceló la orden•

Payment_method- método de pago que usó el cliente•

refunden_amount- monto reembolsado•

Location- ubicación dónde se procesó la compra•

source- dónde se originó la compra

In [4]:
descripcion(hoja)

HEAD
        Name    Financial Status Fulfillment Status   Taxes   Total  \
0  MX29-1673  partially_refunded          fulfilled  468.97  3400.0
1  MX29-1673                 NaN                NaN     NaN     NaN
2  MX29-1674                paid          fulfilled  344.83  2500.0
3  MX29-1674                 NaN                NaN     NaN     NaN
4  MX29-1674                 NaN                NaN     NaN     NaN

   Discount Amount     Created_at (UTC)  Lineitem quantity  Lineitem price  \
0              0.0  02/01/2018 18:24:00                  1         1799.99
1              NaN  02/01/2018 18:24:00                  1         1600.01
2              0.0  02/01/2018 20:54:00                  1         1799.99
3              NaN  02/01/2018 20:54:00                  1          700.00
4              NaN  02/01/2018 20:54:00                  1            0.01

  Cancelled at   Payment Method  Refunded Amount  Location Source  \
0          NaN  External Credit            150.0  Tienda A    pos
1          NaN              NaN              NaN       NaN    NaN
2          NaN  External Credit              0.0  Tienda A    pos
3          NaN              NaN              NaN       NaN    NaN
4          NaN              NaN              NaN       NaN    NaN

      Lineitem name
0            MARTIN
1  Micas Oftalmicas
2            ALDOUS
3            Clipon
4  Micas Oftalmicas

SHAPE
(18783, 15)

COLUMNAS
Index(['Name', 'Financial Status', 'Fulfillment Status', 'Taxes', 'Total',
       'Discount Amount', 'Created_at (UTC)', 'Lineitem quantity',
       'Lineitem price', 'Cancelled at', 'Payment Method', 'Refunded Amount',
       'Location', 'Source', 'Lineitem name'],
      dtype='object')

DATA TYPE POR COLUMNA
Name                   object
Financial Status       object
Fulfillment Status     object
Taxes                 float64
Total                 float64
Discount Amount       float64
Created_at (UTC)       object
Lineitem quantity       int64
Lineitem price        float64
Cancelled at           object
Payment Method         object
Refunded Amount       float64
Location               object
Source                 object
Lineitem name          object
dtype: object

CONTEO DE NULOS POR COLUMNA
Name                      0
Financial Status       9978
Fulfillment Status     9978
Taxes                  9978
Total                  9978
Discount Amount        9978
Created_at (UTC)          0
Lineitem quantity         0
Lineitem price            0
Cancelled at          18511
Payment Method        10181
Refunded Amount        9978
Location               9979
Source                 9978
Lineitem name             0
dtype: int64

PORCENTAJE DE NULOS
Name   0.0
Financial Status   53.12250439226961
Fulfillment Status   53.12250439226961
Taxes   53.12250439226961
Total   53.12250439226961
Discount Amount   53.12250439226961
Created_at (UTC)   0.0
Lineitem quantity   0.0
Lineitem price   0.0
Cancelled at   98.55188202097641
Payment Method   54.20326891337912
Refunded Amount   53.12250439226961
Location   53.12782835542777
Source   53.12250439226961
Lineitem name   0.0

ELEMENTOS UNICOS DE COLUMNAS
Columna:  Name
Datos unicos:  8805
['MX29-1673' 'MX29-1674' 'MX29-1675' ... 'MX42-1340' 'MX42-1341'
 'MX42-1342']

Columna:  Financial Status
Datos unicos:  5
['partially_refunded' nan 'paid' 'refunded' 'partially_paid']

Columna:  Fulfillment Status
Datos unicos:  4
['fulfilled' nan 'unfulfilled' 'partial']

Columna:  Taxes
Datos unicos:  157
[ 468.97     nan  344.83  248.28  227.58  238.34  517.24  317.24  496.55
   96.55  593.1   613.79    0.    252.41  268.97  220.69    4.14  124.14
   23.45  248.27  151.72  234.48  503.45  400.    253.79   68.97  365.52
  536.55  257.93   19.31  448.28  227.59    6.9     5.52   62.07  609.66
  331.03    2.07  131.03  862.07  103.45   16.55  511.72  744.83  441.38
  737.93   20.69  296.55    9.66  565.52    8.28  324.14  455.17 1131.03
  303.45  179.31  255.17   12.41  448.27  165.52  264.83  710.34  475.86
  993.1   193.1    13.79  262.07  413.79  689.66   14.48  379.31  137.93
    7.59 2006.9   609.65  259.31  648.28  250.34  237.24  586.21  882.76
  620.69  717.24  537.93  231.72  235.43   11.03  372.41  274.48  455.82
  800.   1131.04  841.38  140.25  393.1   806.9   486.62  572.41  765.52
   41.38  151.73   30.34  779.31   28.28  310.34  200.     80.69 1034.48
  129.1   524.14   75.86  172.41  241.38  238.62  468.96    6.21   26.21
  668.97   15.17  768.96  937.93  267.59  972.41   17.93  406.9    48.28
  724.14  372.42  260.    682.76   38.62   13.1   806.89  351.72 1241.38
  244.14  600.    634.48  337.93  482.76   11.72  986.21 1475.86  489.66
  668.96   18.62  322.07  265.52  134.48   28.97  526.9   255.86  277.24
   33.1   773.79  117.24  544.83]

Columna:  Total
Datos unicos:  160
[ 3400.        nan  2500.    1800.    1650.    3600.    3750.    2300.
   700.    4300.    4450.       0.    1830.    1950.    1600.      30.
   900.     170.    1100.    1700.    3650.    2900.    1840.     500.
  2650.    3890.    1870.    1950.01   140.    3250.      50.      40.
   450.    4420.    2400.      15.     950.    6250.     750.     120.
  3710.    5400.    3200.    5350.     150.    2150.      70.    4100.
    60.    2350.    3300.    8200.    2200.    4299.99  1800.09  1850.
  3599.99    90.    1200.    1920.    5150.    3450.    7200.    1400.
   100.    1900.    3000.    5000.     105.    1800.66  1799.99  2750.
  1000.      55.   14550.    1880.    4700.    1815.    1720.    4250.
  6400.    4500.    5200.    2500.09  3900.    1680.      80.    2700.
  1990.    5800.    6100.    2850.    5850.    7350.    4150.    5550.01
   300.    1100.01  5350.01  2500.01  4300.01   220.    5650.     205.
  2250.    1450.     585.    7500.    5700.     550.    1250.    1750.
  5550.    1730.    1800.06  3800.      45.     190.    4850.     110.
  5575.    1600.01  6800.    1940.    7050.     130.    2950.     350.
  5250.    2700.01  1885.    3400.06  4950.     280.      95.    2550.
  9000.    1770.    4350.    4600.    2450.    3500.      85.    7150.
 10700.    3550.     135.    2335.    1925.     975.     210.    3820.
  1855.    2010.    1800.01  2300.01   240.    5610.     850.    3950.  ]

Columna:  Discount Amount
Datos unicos:  31
[0.00000e+00         nan 1.50000e+02 1.80000e+03 1.00000e+02 3.75000e+03
 2.30000e+03 1.79999e+03 2.90000e+03 9.00000e+02 3.90000e+03 1.30000e+03
 3.60000e+03 8.99990e+02 1.00000e-02 4.85000e+03 1.50010e+02 2.50001e+03
 3.75001e+03 2.50000e+03 4.45000e+03 1.90000e+03 6.45002e+03 3.60001e+03
 9.75000e+02 3.00000e+02 3.50000e+02 1.65000e+02 1.95000e+03 4.30000e+03
 1.70000e+03]

Columna:  Created_at (UTC)
Datos unicos:  7946
['02/01/2018 18:24:00' '02/01/2018 20:54:00' '02/01/2018 21:15:00' ...
 '01/04/2018 00:09:00' '01/04/2018 00:50:00' '01/04/2018 01:11:00']

Columna:  Lineitem quantity
Datos unicos:  6
[1 2 4 7 3 5]

Columna:  Lineitem price
Datos unicos:  25
[1.79999e+03 1.60001e+03 7.00000e+02 1.00000e-02 1.95001e+03 5.00000e+02
 7.00010e+02 3.00000e+01 1.95000e+03 4.50000e+02 7.00000e+01 5.00000e+01
 1.10001e+03 4.00000e+01 1.50000e+01 1.80000e+03 1.20000e+02 1.10000e+03
 1.60000e+03 1.50000e+02 0.00000e+00 1.25000e+03 1.42500e+03 3.40000e+03
 2.50000e+03]

Columna:  Cancelled at
Datos unicos:  101
[nan '26/3/2018' '5/1/2018' '13/1/2018' '21/1/2018' '14/2/2018'
 '26/1/2018' '27/1/2018' '30/1/2018' '8/2/2018' '15/2/2018' '28/2/2018'
 '24/2/2018' '1/3/2018' '3/3/2018' '5/3/2018' '22/3/2018' '14/4/2018'
 '20/1/2018' '13/2/2018' '7/1/2018' '8/1/2018' '11/1/2018' '12/1/2018'
 '22/5/2018' '14/1/2018' '17/1/2018' '19/1/2018' '23/1/2018' '12/2/2018'
 '6/2/2018' '7/2/2018' '17/2/2018' '20/2/2018' '4/8/2018' '13/3/2018'
 '26/2/2018' '16/3/2018' '21/3/2018' '25/3/2018' '15/1/2018' '25/5/2018'
 '28/1/2018' '3/2/2018' '9/2/2018' '10/2/2018' '16/2/2018' '25/2/2018'
 '4/3/2018' '12/3/2018' '28/3/2018' '4/1/2018' '9/1/2018' '31/1/2018'
 '12/5/2018' '14/3/2018' '24/3/2018' '31/3/2018' '6/4/2018' '10/1/2018'
 '22/2/2018' '11/3/2018' '16/1/2018' '1/2/2018' '19/2/2018' '1/8/2018'
 '18/2/2018' '23/2/2018' '7/3/2018' '10/3/2018' '2/4/2018' '24/1/2018'
 '5/2/2018' '11/2/2018' '6/3/2018' '8/3/2018' '27/2/2018' '20/3/2018'
 '19/3/2018' '23/4/2018' '11/4/2018' '3/1/2018' '2/2/2018' '27/3/2018'
 '15/3/2018' '25/1/2018' '22/1/2018' '19/6/2018' '18/3/2018' '4/4/2018'
 '14/6/2018' '1/4/2018' '29/1/2018' '4/2/2018' '17/3/2018' '23/3/2018'
 '29/3/2018' '28/8/2018' '30/3/2018' '17/10/2018' '3/4/2018']

Columna:  Payment Method
Datos unicos:  8
['External Credit' nan 'Cash' 'Cash + External Credit'
 'External Credit + Cash' 'Gift Card' 'manual'
 'Gift Card + External Credit']

Columna:  Refunded Amount
Datos unicos:  27
[ 150.   nan    0.  151. 1950. 1800.  300. 2900. 2300.  301.   50. 2500.
 1400.  100. 1100.  500. 3600.  900.  450. 4450.  700. 3750. 4850. 1650.
  180. 1600.  850.]

Columna:  Location
Datos unicos:  4
['Tienda A' nan 'Tienda C' 'Tienda B']

Columna:  Source
Datos unicos:  2
['pos' nan]

Columna:  Lineitem name
Datos unicos:  53
['MARTIN' 'Micas Oftalmicas' 'ALDOUS' 'Clipon' 'DARIA JR' 'JANIS'
 'ESQUIVEL' 'HAWKING' 'PARKS' 'MOLEMAN' 'WALTER' 'RUDYARD' 'RAMIREZ'
 'Antireflejante para la luz azul' 'SEYMOUR' 'CLARK' 'STANLEY' 'CHAVELA'
 'GINSBERG' 'CAMARENA' 'DARIA' 'BARRAGA\x81N' 'LUCAS' 'Polanco'
 'Micas Progresivas' 'WOODY' 'Mica Monofocal' 'COOPER' 'LEON' 'Micas'
 'Tarjeta de Regalo Anti' 'GONZO' 'TRUMAN' 'OROZCO' 'Thin & Lite'
 'Micas Thin & Lite 1.67' 'Tarjeta de Regalo Buena Onda Virtual'
 'REVUELTAS' 'Transitions (Extras)' 'Estuche'
 'Polarizadas Graduadas (Extras)' 'Tatuajes #Cuatroojos'
 'Libreta #Cuatroojos' 'Pin #Cuatroojos' 'Taza #Cuatroojos'
 'Lapiz #Cuatroojos' 'Estuche Vegano' 'Tote #Cuatroojos'
 'Taco Ben & Frank' 'Reparacion de Armazon' 'WALLY' 'Mica progresiva'
 'GARCI\x8dA']


ESTADISTICA DESCRIPTIVA DE LOS DATOS DEL DATAFRAME
                     count         mean         std  min      25%      50%  \
Taxes               8805.0   265.740282  118.091676  0.0   248.28   248.28
Total               8805.0  1937.009853  859.834905  0.0  1800.00  1800.00
Discount Amount     8805.0    77.270315  368.731781  0.0     0.00     0.00
Lineitem quantity  18783.0     1.022893    0.168008  1.0     1.00     1.00
Lineitem price     18783.0   940.591355  872.789180  0.0     0.01  1100.01
Refunded Amount     8805.0    32.546848  194.615647  0.0     0.00     0.00

                       75%       max
Taxes               248.28   2006.90
Total              1800.00  14550.00
Discount Amount       0.00   6450.02
Lineitem quantity     1.00      7.00
Lineitem price     1799.99   3400.00
Refunded Amount       0.00   4850.00

# Comentarios Iniciales

PORCENTAJE DE NULOS
Name   0.0
Financial Status   53.12250439226961
Fulfillment Status   53.12250439226961
Taxes   53.12250439226961
Total   53.12250439226961
Discount Amount   53.12250439226961
Created_at (UTC)   0.0
Lineitem quantity   0.0
Lineitem price   0.0
Cancelled at   98.55188202097641
Payment Method   54.20326891337912
Refunded Amount   53.12250439226961
Location   53.12782835542777
Source   53.12250439226961
Lineitem name   0.0

CONTEO DE NULOS POR COLUMNA
Name                      0
Financial Status       9978
Fulfillment Status     9978
Taxes                  9978
Total                  9978
Discount Amount        9978
Created_at (UTC)          0
Lineitem quantity         0
Lineitem price            0
Cancelled at          18511
Payment Method        10181
Refunded Amount        9978
Location               9979
Source                 9978
Lineitem name             0

Con base al porcentaje de nulos, puedo decir lo siguiente:
    Source, Financial Status, Fulfillment, taxes, total, Discount Amount y Refunded Amount tienen el mismo porcentaje de nulos. Los nulos seran eliminados.
    
    Location, tiene un porcentaje ligeramente mayor (.0053) respecto al porcentaje de Source (solo una entrada del dataset deacuerdo al conteo de nulos por columna), al no conocer donde se procesó la compra, hay que limpiar los nulos para poder tener exactamente las compras por tienda, que deacuerdo a los valores únicos que se presentan, ['Tienda A' nan 'Tienda C' 'Tienda B'], solo hay tres tiendas.
    
    A pesar del porcentaje tan alto de la columna "cancelled at", podemos decir que menos del 2% de todas las compras se cancelan, esta columna no se eliminará, sin embargo habrá que cambiar los valores restantes despúes de la limpieza de Source, lo ideal seria en lugar de NaN, sería "No cancelado"
    
    Payment Method tiene una diferencia aproximad de 1.0807% respecto de Source, también observa los siguientes valores únicos: 'External Credit', nan, 'Cash', 'Cash + External Credit', 'External Credit + Cash', 'Gift Card', 'manual', 'Gift Card + External Credit', como no hay indicaciones sobre el porcentaje de diferencia entre 'Cash + External Credit' y 'External Credit + Cash', se unificarán en un solo campo, quedando como 'Cash + External Credit', en cuanto al valor nan, será sustituido con 'no efectuado'

# Limpieza y manipulación de los datos

## Copia de la hoja

Se hará una copia de la hoja, para poder manipularla sin modificar los datos originales

In [5]:
hoja_copia = hoja.copy()

## limpieza de nulos, reemplazar valores

In [6]:
hoja_copia.fillna({'Cancelled at':'No cancelado', 'Payment Method':'No efectuado'}, inplace = True)
hoja_copia.replace('External Credit + Cash', 'Cash + External Credit', inplace = True)

In [7]:
#imprimimos los nulos para ver cambios en el dataset
nulos = hoja_copia.isna().sum()
print(nulos)

Name                     0
Financial Status      9978
Fulfillment Status    9978
Taxes                 9978
Total                 9978
Discount Amount       9978
Created_at (UTC)         0
Lineitem quantity        0
Lineitem price           0
Cancelled at             0
Payment Method           0
Refunded Amount       9978
Location              9979
Source                9978
Lineitem name            0
dtype: int64

In [8]:
# como ultimo paso vamos a eliminar los nulos, a ejecutar las funciones necesarias para verificar los cambios y revisar si no hay duplicados
hoja_copia.dropna(inplace = True)
print('')
print('Figura de los datos')
print(hoja_copia.shape)
print('')
print('Nulos')
print(hoja_copia.isna().sum())
print('')
print('Cambios en Cancelados')
print(hoja_copia['Cancelled at'].unique())
print('')
print('Cambios en Método de pago')
print(hoja_copia['Payment Method'].unique())
print('')
print('Cambios en Location')
print(hoja_copia['Location'].unique())
print('')
print('Cantidad de duplicados en el dataset')
print(hoja_copia.duplicated().sum())

Figura de los datos
(8804, 15)

Nulos
Name                  0
Financial Status      0
Fulfillment Status    0
Taxes                 0
Total                 0
Discount Amount       0
Created_at (UTC)      0
Lineitem quantity     0
Lineitem price        0
Cancelled at          0
Payment Method        0
Refunded Amount       0
Location              0
Source                0
Lineitem name         0
dtype: int64

Cambios en Cancelados
['No cancelado' '26/3/2018' '5/1/2018' '13/1/2018' '21/1/2018' '14/2/2018'
 '26/1/2018' '27/1/2018' '30/1/2018' '8/2/2018' '15/2/2018' '28/2/2018'
 '24/2/2018' '1/3/2018' '3/3/2018' '5/3/2018' '22/3/2018' '14/4/2018'
 '20/1/2018' '13/2/2018' '7/1/2018' '8/1/2018' '11/1/2018' '12/1/2018'
 '22/5/2018' '14/1/2018' '17/1/2018' '19/1/2018' '23/1/2018' '12/2/2018'
 '6/2/2018' '7/2/2018' '17/2/2018' '20/2/2018' '4/8/2018' '13/3/2018'
 '26/2/2018' '16/3/2018' '21/3/2018' '25/3/2018' '15/1/2018' '25/5/2018'
 '28/1/2018' '3/2/2018' '9/2/2018' '10/2/2018' '16/2/2018' '25/2/2018'
 '4/3/2018' '12/3/2018' '28/3/2018' '4/1/2018' '9/1/2018' '31/1/2018'
 '12/5/2018' '14/3/2018' '24/3/2018' '31/3/2018' '6/4/2018' '10/1/2018'
 '22/2/2018' '11/3/2018' '16/1/2018' '1/2/2018' '19/2/2018' '1/8/2018'
 '18/2/2018' '23/2/2018' '7/3/2018' '10/3/2018' '2/4/2018' '24/1/2018'
 '5/2/2018' '11/2/2018' '6/3/2018' '8/3/2018' '27/2/2018' '20/3/2018'
 '19/3/2018' '23/4/2018' '11/4/2018' '3/1/2018' '2/2/2018' '27/3/2018'
 '15/3/2018' '25/1/2018' '22/1/2018' '19/6/2018' '18/3/2018' '4/4/2018'
 '14/6/2018' '1/4/2018' '29/1/2018' '4/2/2018' '17/3/2018' '23/3/2018'
 '29/3/2018' '28/8/2018' '30/3/2018' '17/10/2018' '3/4/2018']

Cambios en Método de pago
['External Credit' 'Cash' 'Cash + External Credit' 'No efectuado'
 'Gift Card' 'manual' 'Gift Card + External Credit']

Cambios en Location
['Tienda A' 'Tienda C' 'Tienda B']

Cantidad de duplicados en el dataset
0

In [9]:
#guardamos el CSV limpio
hoja_copia.to_csv('./B&F_limpio.csv', index = False)

# Transformación de datos

In [10]:
#funcion que a partir de la fecha, obtiene un numero de dia
def dias(fecha):
    date_time_obj = datetime.strptime(fecha, '%d/%m/%Y %H:%M:%S')
    return datetime.weekday(date_time_obj)

In [11]:
#funcion que a partir de la fecha, obtiene solo la hora de dia
def hora(fecha):
    hora = fecha.split(':')
    return hora[0][-2:]

In [12]:
def mes(fecha):
    hora = fecha.split('/')
    return hora[1]

In [13]:
#Diccionarios que sirven para mapear informacion de las funciones 
#Weekday regresa un numero desde cero y ese corresponde al dia lunes
mapa_dias = {
    0:'Lunes',
    1:'Martes',
    2:'Miercoles',
    3:'Jueves',
    4:'Viernes',
    5:'Sábado',
    6:'Domingo'
}

#la tienda considera los siguientes dias de est forma
tipo_dia = {
    'Lunes':'Entre Semana',
    'Martes':'Entre Semana',
    'Miercoles':'Entre Semana',
    'Jueves':'Entre Semana',
    'Viernes':'Fin de Semana',
    'Sábado':'Fin de Semana',
    'Domingo':'Fin de Semana'
}

#Diccionario para el mapeo de meses
meses = {
    '01':'Enero',
    '02':'Febrero',
    '03':'Marzo',
    '04':'Abril',
    '05':'Mayo',
    '06':'Junio',
    '07':'Julio',
    '08':'Agosto',
    '09':'Septiembre',
    '10':'Octubre',
    '11':'Noviembre',
    '12':'Diciembre'
}

In [14]:
#Obtenemos el día en que se realizo la compra
hoja_copia['Day'] = hoja_copia['Created_at (UTC)'].apply(dias).map(mapa_dias)
#clasificamos si es entre semana o fin de semana
hoja_copia['Day_Type'] = hoja_copia['Day'].map(tipo_dia)
#Obtenemos la hora de presencia en la tienda, SIN MINUTOS
hoja_copia['Hour'] = hoja_copia['Created_at (UTC)'].apply(hora).astype(int)
#hacemos la segmentación por Meses
hoja_copia['Month'] = hoja_copia['Created_at (UTC)'].apply(mes).map(meses)

In [15]:
#última transformación de los datos, en esta linea discriminamos a las horas que no estan dentro del horario normal de tienda
hoja_copia['Horario_correcto'] = hoja_copia['Hour'].isin([11,12,13,14,15,16,17,18,19])

#Creamos el dataset final de donde vamos a sacar las gráficas
dataset_final = hoja_copia.drop(hoja_copia[hoja_copia['Horario_correcto']==False].index)

In [16]:
#Guardamos el dataset en CSV
dataset_final.to_csv('./B&F_transformado.csv', index = False)

In [17]:
dataset_final

,Name,Financial Status,Fulfillment Status,Taxes,Total,Discount Amount,Created_at (UTC),Lineitem quantity,Lineitem price,Cancelled at,Payment Method,Refunded Amount,Location,Source,Lineitem name,Day,Day_Type,Hour,Month,Horario_correcto
0,MX29-1673,partially_refunded,fulfilled,468.97,3400.0,0.0,02/01/2018 18:24:00,1,1799.99,No cancelado,External Credit,150.0,Tienda A,pos,MARTIN,Martes,Entre Semana,18,Enero,True
35,MX29-1689,paid,fulfilled,227.58,1650.0,150.0,03/01/2018 18:13:00,1,1799.99,No cancelado,External Credit,0.0,Tienda A,pos,STANLEY,Miercoles,Entre Semana,18,Enero,True
36,MX29-1690,paid,fulfilled,248.28,1800.0,0.0,03/01/2018 18:24:00,1,1799.99,No cancelado,External Credit,0.0,Tienda A,pos,HAWKING,Miercoles,Entre Semana,18,Enero,True
39,MX29-1691,paid,fulfilled,496.55,3600.0,150.0,03/01/2018 19:03:00,1,1799.99,No cancelado,External Credit,0.0,Tienda A,pos,MOLEMAN,Miercoles,Entre Semana,19,Enero,True
41,MX29-1692,paid,fulfilled,248.28,1800.0,0.0,03/01/2018 19:10:00,1,1799.99,No cancelado,Cash,0.0,Tienda A,pos,SEYMOUR,Miercoles,Entre Semana,19,Enero,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18754,MX42-1329,paid,fulfilled,248.28,1800.0,0.0,31/03/2018 18:35:00,1,1799.99,No cancelado,External Credit,0.0,Tienda A,pos,ALDOUS,Sábado,Fin de Semana,18,Marzo,True
18756,MX42-1330,paid,fulfilled,0.00,2500.0,0.0,31/03/2018 18:56:00,1,2500.00,No cancelado,External Credit,0.0,Tienda A,pos,Tarjeta de Regalo Buena Onda Virtual,Sábado,Fin de Semana,18,Marzo,True
18758,MX42-1331,paid,unfulfilled,248.28,1800.0,0.0,31/03/2018 18:58:00,1,1799.99,3/4/2018,External Credit,0.0,Tienda A,pos,WOODY,Sábado,Fin de Semana,18,Marzo,True
18760,MX42-1332,paid,fulfilled,227.58,1650.0,150.0,31/03/2018 19:02:00,1,1799.99,No cancelado,Cash,0.0,Tienda A,pos,TRUMAN,Sábado,Fin de Semana,19,Marzo,True
18761,MX42-1333,paid,fulfilled,248.28,1800.0,0.0,31/03/2018 19:36:00,1,0.01,No cancelado,External Credit,0.0,Tienda A,pos,Micas,Sábado,Fin de Semana,19,Marzo,True